<div class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">Build Project</h1>
    </div>
    <div class="modal-body">
        <label><input type="radio" name="platform-build-name" checked value="android">Android</label>
        <label><input type="radio" name="platform-build-name" value="ios">IOS</label>
    </div>
    <div class="modal-footer">
        <a href="#" class="dialog-button btn left" data-button-id="cancel">Cancel</a>
        <a href="#" class="dialog-button btn primary" data-button-id="ok">Start</a>
    </div>
</div>