<div class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">Add A Plugin</h1>
    </div>
    <div class="modal-body">
        <label>Plugin id/url: <input id="add-plugin-id" type="text" size="50"></label>
        <label id="add-plugin-save-label">Save to hook: <input id="add-plugin-save" type="checkbox"></label>
    </div>
    <div class="modal-footer">
        <a href="#" class="dialog-button btn left" data-button-id="cancel">Cancel</a>
        <a href="#" class="dialog-button btn primary" data-button-id="ok">Start</a>
    </div>
</div>