<div class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">Start an ionic project</h1>
    </div>
    <div class="modal-body">
        <label>Project name: <input id="start-project-name" type="text"></label>
        Project template:
        <label class="ionic-project-start-template"><input type="radio" name="start-project-template" checked value="blank">Blank</label>
        <label class="ionic-project-start-template"><input type="radio" name="start-project-template" value="tabs">Tabs</label>
        <label class="ionic-project-start-template"><input type="radio" name="start-project-template" value="sidemenu">Side Menu</label>
        <label>Save plugins: <input id="start-project-plugins" type="checkbox" checked></label>
        <label>Install ngCordova: <input id="start-project-ngCordova" type="checkbox"></label>
    </div>
    <div class="modal-footer">
        <a href="#" class="dialog-button btn left" data-button-id="cancel">Cancel</a>
        <a href="#" class="dialog-button btn primary" data-button-id="ok">Start</a>
    </div>
</div>